
.body{
    margin-top: 100px;  
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;b
    background-color: #e6f5ff;
}

.title{
    text-align: center;
}

.date{
    text-align: center;
    font-style: italic;
    color: rgb(161, 170, 180);
}

.button {
    background-color: #6587f5; /* Green */
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
