{% extends 'base.html' %}
{% block content %}



<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Trang chủ</title>
  <!-- google fonts -->
  <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap"
    rel="stylesheet">
  <!-- google fonts -->
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-starter.css">
  <!-- Template CSS -->
</head>

<body>
  <!-- /main-slider -->
  <!--/grids-->
  <section class="w3l-grids-3 py-5" id="about">
    <div class="container py-md-5">
      <div class="row bottom-ab-grids align-items-center">
        <div class="col-lg-6 bottom-ab-right mb-lg-0 mb-5 pr-lg-5">
          <img src="assets/images/8.jpeg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 bottom-ab-left">
          <h6 class="sub-title">Naguru</h6>
          <h3 class="hny-title">
            Chia sẻ thế giới của bạn</h3>
          <p class="my-3 pr-lg-4">Nơi bạn ghi chép lại những suy nghĩ vớ vẩn, những cảm nhận trong cuộc sống và thậm chí là những công thức nấu ăn mà bạn đã học được...
            </p>
          <a href="about.html" class="btn btn-style mt-4">Đọc thêm</a>
        </div>

      </div>
    </div>
  </section>
  <!--//grids-->
  <!--/services-->
  <section class="w3l-services1">
    <div id="content-with-photo4-block" class="services1hny py-5">
      <div class="container py-md-5">
        <div class="cwp4-two row align-items-center">
          <div class="cwp4-text col-lg-4 mb-lg-0 mb-5">
           <h3 class="hny-title">Blog nổi bật</h3>
          </div>
      </div>
    </div>
    </div>
  </section>
  <!--//services-->

  <!--/grids2-->
  <section class="w3l-how-grids-3" id="how">
    <div class="container-fluid">
      <div class="row d-grid grid-col-2 grid-element-9 px-lg-0">
        <div class="left-texthny p-lg-5 py-4">
          <div class="left-texthny-2 p-lg-5 p-4">
            <h3 class="hny-title">
              Tương tư Deadline</h3>
            <p class="my-3 pr-lg-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur hic odio
              voluptatem
              tenetur consequatur.Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae laudantium
              voluptate rem ullam dolore nisi voluptatibus esse quasi.Integer sit amet mattis quam.</p>
            <a class="btn btn-style btn-secondary mt-4">Đọc bài</a>
          </div>
        </div>
        <div class="left-grid-ele-9 grid-bg1">
        </div>
      </div>
      <div class="row d-grid grid-col-3 grid-element-9 px-lg-0">
        <div class="left-grid-ele-9 grid-bg2">

        </div>
        <div class="left-texthny-3 p-lg-5 py-4 d-grid align-items-center">
          <div class="sub-wid-grid-9 py-lg-0 py-5">
            <h4 class="text-grid-9">Who am I<a href="#"></a></h4>
            <p class="sub-para">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
            <a class="btn btn-style btn-secondary mt-4">Đọc bài</a>
          </div>
        </div>
        <div class="left-grid-ele-9 grid-bg3">

        </div>
        <div class="left-texthny-3 p-lg-5 py-4 d-grid align-items-center">
          <div class="sub-wid-grid-9 py-lg-0 py-5">
            <h4 class="text-grid-9"><a href="#">Exterior Remodelling</a></h4>
            <p class="sub-para">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
          </div>
        </div>
      </div>
    </div>
  </section>
<section class="w3l-services1">
  <div id="content-with-photo4-block" class="services1hny py-5">
    <div class="container py-md-5">
      <div class="cwp4-two row align-items-center">
        <div class="cwp4-text col-lg-4 mb-lg-0 mb-5">
          <!--<h6 class="sub-title">Bài viết thịnh hành</h6>-->
         <h3 class="hny-title">Cảm nhận người đọc</h3>
        </div>
    </div>
  </div>
  </div>
</section>
  <!-- testimonials -->
  <section class="w3l-clients" id="clients">
        <div class="testimonial-width mt-5">
          <div id="owl-demo1" class="owl-two owl-carousel owl-theme">
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    Page nhiều blog hay, ý nghĩa
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team1.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                      <h3>Chị Oanh</h3>
                      <p class="indentity">Ca sỹ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .Nulla ex
                    nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team2.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                      <h3>Shveta</h3>
                      <p class="indentity">Example City</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .Nulla ex
                    nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team3.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                      <h3>Roy Linderson</h3>
                      <p class="indentity">Example City</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .Nulla ex
                    nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team4.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                      <h3>Mike Thyson</h3>
                      <p class="indentity">Example City</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .Nulla ex
                    nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team1.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                      <h3>Rohit Paul</h3>
                      <p class="indentity">Example City</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-content">
                <div class="testimonial">
                  <blockquote>
                    <span class="fa fa-quote-left" aria-hidden="true"></span>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit beatae integer sit amet .Nulla ex
                    nunc, interdum nec egestas nec, dapibus ac mauris. Vivamus id tempor nisl.
                  </blockquote>
                  <div class="testi-des">
                    <div class="test-img"><img src="assets/images/team2.jpg" class="img-fluid" alt="client-img">
                    </div>
                    <div class="peopl align-self">
                      <h3>Shveta</h3>
                      <p class="indentity">Example City</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /grids -->
    </div>
    <!-- //grids -->
  </section>
  <!-- //testimonials -->
</body>


{% endblock content %}