{% extends 'base.html' %}
{% block content %}
  
<!doctype html>
<html lang="zxx">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>About</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,600&display=swap" rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <!--link rel="stylesheet" href="assets/css/style-starter.css"-->
    <!-- Template CSS -->
  </head>

  <body>

  <!-- about breadcrumb -->
  <section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-2">
        <h2 class="title">Về chúng tôi</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a href="#url">Trang chủ</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> Về chúng tôi </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <!-- /about-6-->
  <section class="w3l-cta4 py-5">
      <div class="container py-lg-5">
        <div class="ab-section">
            <div class="row">
              <div class="col-md-6 pr-lg-5">
                <h6 class="sub-title">Ở đây có gì ?</h6>
                <h3 class="hny-title">Cuộc sống của chúng tôi</h3>
                <p class="py-3">Tất cả những câu chuyện về hoạt đồng gần gũi thường ngày từ học tập , giải trí đến nấu ăn chúng tôi cũng chia sẻ với bạn.</p>
              </div>
              <div class="col-md-6 mt-md-0 mt-4">
                <div class="row">
                  <div class="col-md-6 mt-md-0 mt-4">
                    <img src="static/images/blog2.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-md-6 mt-md-0 mt-4">
                    <img src="static/images/blog3.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>
        </div>

      </div>
  </section>
  <!-- //about-6-->
   <!-- /content-6-->
   <section class="w3l-content-6 py-5" id="why">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-lg-4 content-6-left">
          <h3 class="hny-title">Câu chuyện của chúng tôi</h3>
        </div>
        <div class="col-lg-4 content-6-right mt-lg-0 mt-4">
          <p class="mb-3">Những sinh viên chân ướt chân ráo từ quê lên vô tình gặp nhau ở giảng đường đại học.</p>
            <p class="mb-3">Từ đây cùng nhau xây dựng ước mơ, cuộc sống , tương lai và viết lên nhưng câu chuyện của riêng mình.</p>
            
        </div>
        <div class="col-lg-4 content-6-right mt-lg-0 mt-4">
          <p class="mb-3">Ai đó hỏi chúng tôi lập blog để làm gì , sinh viên chưa đủ bận sao. Đơn giản là chúng tôi lập blog để trả lời cho câu hỏi đó</p>
            <p class="mb-3">Mong các bạn cũng sẽ có những giây phút vui vẻ khi trải nghiệm blog</p>
            
        </div>
      </div>
    </div>
</section>
<!-- //content-6-->
  <!-- stats -->
  <section class="w3l-statshny py-5" id="stats">
    <div class="container py-lg-5 py-md-4">
      <div class="w3-stats-inner-info">
        <div class="row">
          <div class="col-lg-4 col-6 stats_info counter_grid text-left">
            <span class="fa fa-smile-o"></span>
            <p class="counter">1730</p>
            <h4>Lượng tương tác</h4>
          </div>
          <div class="col-lg-4 col-6 stats_info counter_grid1 text-left">
            <span class="fa fa-users"></span>
            <p class="counter">730</p>
            <h4>Số người đã vào blog</h4>
          </div>
          <div class="col-lg-4 col-6 stats_info counter_grid mt-lg-0 mt-5 text-left">
            <span class="fa fa-database"></span>
            <p class="counter">30</p>
            <h4>Số bài viết</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //stats -->
  <!-- team -->
  <section class="w3l-team" id="team">
    <div class="team-block py-5">
      <div class="container py-lg-5">
        <div class="title-content text-center mb-lg-3 mb-4">
          <h6 class="sub-title">Thành viên của Naguru</h6>
          <h3 class="hny-title">Chúng tôi là...</h3>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/images/team1.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Hà Phan Diệu Phương</a></h3>
                <span class="post">Naguru</span>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/images/team2.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Lê Thị Hồng Oanh</a></h3>
                <span class="post">Naguru</span>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/images/team3.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Lê Tuyết Mai</a></h3>
                <span class="post">Naguru</a></span>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-lg-5 mt-4">
            <div class="box16">
              <a href="#url"><img src="static/images/team4.jpg" alt="" class="img-fluid" /></a>
              <div class="box-content">
                <h3 class="title"><a href="#url">Nguyễn Hoài Phương Uyên</a></h3>
                <span class="post">Naguru</a></span>
                <ul class="social">
                  <li>
                    <a href="#" class="facebook">
                      <span class="fa fa-facebook-f"></span>
                    </a>
                  </li>
                  <li>
                    <a href="#" class="twitter">
                      <span class="fa fa-twitter"></span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- //team -->
  <!-- home page video popup section -->
  <section class="w3l-index5" id="about">
    <div class="new-block py-5">
      <div class="container py-lg-5">
        <div class="middle-section text-center">
          <div class="section-width">
            <h6 class="sub-title text-center">Video</h6>
            <h3 class="hny-title">Cuộc sống là của bạn</h3>
            <p class="mt-3">Hãy tặng bản thân những giờ phút thư giãn nhất, hãy yêu thương bản thân mình hơn, hãy làm nhưng điều mà mình yêu. Đơn giản là vì bạn xứng đáng.</p>
          </div>
          <div class="history-info mt-5">
            <div class="position-relative">
              <img src="static/images/banner1.jpg" class="img-fluid radius-image video-popup-image" alt="video-popup">

              <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                <span class="video-play-icon">
                  <span class="fa fa-play"></span>
                </span>
              </a>

              <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
              <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                <iframe src="https://player.vimeo.com/video/265410015?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
              </div>
            </div>
          </div>

          <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
          <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
            <iframe src="https://player.vimeo.com/video/265410015?title=0&byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>    
  <!-- //footer7 block -->
  <!-- Template JavaScript -->
  <script src="static/js/jquery-3.3.1.min.js"></script>
  <script src="static/js/theme-change.js"></script>
  
  
  <!-- stats number counter-->
  <script src="static/js/jquery.waypoints.min.js"></script>
  <script src="static/js/jquery.countup.js"></script>
  <script>
    $('.counter').countUp();
  </script>
  <!-- //stats number counter -->
  <!--/MENU-JS-->
  <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
  </script>
  <!--//MENU-JS-->

  <script src="static/js/bootstrap.min.js"></script>

</body>

</html>

{% endblock content %}